
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:moved">
      
      </event>
      <event name="item:deleted">
       
      </event>
      <event name="item:saved">
        
      </event>
      <event name="item:versionRemoved">
        
      </event>
    </events>
  </sitecore>
</configuration>