
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:moved">
      <handler type="SerializationRules.Events.Serialization, SerializationRules" method="OnItemMoved"/>
      </event>
      <event name="item:deleted">
        <handler type="SerializationRules.Events.Serialization, SerializationRules" method="OnItemDeleted"/>
      </event>
      <event name="item:saved">
        <handler type="SerializationRules.Events.Serialization, SerializationRules" method="OnItemSaved"/>
      </event>
      <event name="item:versionRemoved">
        <handler type="SerializationRules.Events.Serialization, SerializationRules" method="OnVersionRemoved"/>
      </event>
    </events>
  </sitecore>
</configuration>